numpy==1.14.3
Pillow==8.3.2

# app
Flask==1.0.2
gunicorn==19.8.1
prometheus_client==0.2.0
pymongo==3.6.1
flask_apidoc

# dev
ipython
pycodestyle
pyflakes

# inpaint
jsonlines==1.2.0
matplotlib==2.2.2
torch==0.4.0
torchvision==0.2.1

# research
tqdm==4.23.3
