<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Inpaint</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
          integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/10.0.2/css/bootstrap-slider.min.css"
          integrity="sha256-GwA8DO9HkVp1kdrzQyoT/zi9qZDV/902GSxlrGOfjo8=" crossorigin="anonymous"/>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
            integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/10.0.2/bootstrap-slider.min.js"
            integrity="sha256-VYMMGFCEeBYop7KDzrlj8Bf6R4rhv0XxdH/ctYViebc=" crossorigin="anonymous"></script>
    <script src="/static/main.js?version=35"></script>

    <style>
        canvas {
            max-width: 100%;
            max-height: 500px;
        }

        #selWidthSlider .slider-selection {
            background: #BABABA;
        }

        .slider {
            margin: 8px 10px;
        }

        canvas {
            border: 1px solid black;
        }

        label.btn {
            margin-bottom: 0;
        }

        #header-buttons > * {
            margin-bottom: 4px;
        }

        .btn-load.touch, .btn-pick-random.touch, .btn-save.touch {
            display: none;
        }

        @media (max-device-width: 576px) {
            .btn-load, .btn-pick-random, .btn-save {
                display: none;
            }

            .btn-load.touch, .btn-pick-random.touch, .btn-save.touch {
                display: inline-block;
            }

            .picture-inner {
                margin-left: auto !important;
                margin-right: auto !important;
                float: none !important;
            }
        }
    </style>
</head>
<body class="bg-dark text-light">
<nav class="navbar navbar-dark bg-dark">
    <div class="container" style="justify-content: normal">
        <div id='header-buttons' style="display: inline-block;">
            <a id='logo' class="navbar-brand" href="#">Inpainting</a>
            <input type="file" id="file-upload" name="file-upload" style="display: none;"/>

            <label for="file-upload" class="btn btn-secondary btn-load">Load image</label>
            <button class="btn btn-secondary btn-pick-random">Pick random</button>
            <button class="btn btn-secondary btn-save">Save result</button>

            <label for="file-upload" class="btn btn-secondary btn-load touch">Load</label>
            <button class="btn btn-secondary btn-pick-random touch">Pick</button>
            <button class="btn btn-secondary btn-save touch">Save</button>

            <a id="save-link" style="display: none;"></a>
        </div>
    </div>
</nav>
<div class="container">
    <div class="row" style="margin: 10px 0">
        <div class="col-sm-6">
            <center>
                <div class="picture-inner float-right" style="position:relative; display: inline-block;">
                    <canvas id="canvas-in" height="256" width="500" style="z-index: 1;"></canvas>
                    <canvas id="canvas-mask" height="256" width="256"
                            style="z-index: 2; position: absolute; left: 0; top: 0; width: 100%; height: calc(100% - 6px);
                         cursor: crosshair; touch-action: none;"></canvas>
                </div>
            </center>
        </div>
        <div class="col-sm-6">
            <center>
                <div class="picture-inner float-left">
                    <canvas id="canvas-out" height="256" width="500"></canvas>
                </div>
            </center>
        </div>
    </div>
    <div>
        <div style="display: inline-block; margin-top: 2px">
            Brush width
            <input id="sel-width" data-slider-id='selWidthSlider' type="text" data-slider-min="2" data-slider-max="50"
                   data-slider-step="1" data-slider-value="10" value="10"/>
        </div>
        <div class="picture-inner float-right">
            <button id="btn-undo" class="btn btn-secondary">Undo</button>
            <button id="btn-redo" class="btn btn-secondary">Redo</button>
            <button id="btn-clear" class="btn btn-secondary">Clear</button>
        </div>
    </div>
</div>
</body>

<script>
    $(document).ready(function () {
        $('#sel-width').slider();
        $('#sel-width').change(function () {
            drawEngine.width = this.value;
        });


        drawHistory = new History();
        api = new Api();
        drawEngine = new DrawEngine($('#canvas-mask'), $('#canvas-out'), $('#sel-width'));

        var in_object = $('#canvas-in')[0];
        var mask_object = $('#canvas-mask')[0];
        var out_object = $('#canvas-out')[0];

        // top buttons
        $('.file-upload').change(function (e) {
            blobToImage(e.target.files[0], function (img) {
                applyInitialState(in_object, mask_object, out_object, img)
            });

        });
        $('.btn-pick-random').click(function () {
            dataURIToImage('/pick_random?dummy=' + Date.now().toString(), function (img) {
                applyInitialState(in_object, mask_object, out_object, img)
            });
        });
        $('.btn-save').click(function () {
            var canvasOut = $('#canvas_out')[0];
            var save_link = $('#save-link')[0];
            save_link.href = canvasOut.toDataURL('image/png');
            save_link.download = 'output.png';
            save_link.click();
        });

        // bottom buttons
        $('#btn-undo').click(function () {
            var data = drawHistory.undo();
            dataURIToImage(data['mask'], function (img) {
                fillCanvas(mask_object, img);
            });
            dataURIToImage(data['result'], function (img) {
                fillCanvas(out_object, img);
            });
        });
        $('#btn-redo').click(function () {
            var data = drawHistory.redo();
            dataURIToImage(data['mask'], function (img) {
                fillCanvas(mask_object, img);
            });
            dataURIToImage(data['result'], function (img) {
                fillCanvas(out_object, img);
            });
        });
        $('#btn-clear').click(function () {
            fillCanvas(mask_object);
            dataURIToImage(in_object.toDataURL(), function (img) {
                fillCanvas(out_object, img);
            });
            drawHistory.clear();
            drawHistory.push({
                'mask': mask_object.toDataURL(),
                'result': in_object.toDataURL()
            });
        });
    });

    function applyInitialState(in_object, mask_object, out_object, img) {
        fillCanvas(in_object, img);
        fillCanvas(mask_object);
        fillCanvas(out_object, img);

        drawHistory.clear();
        drawHistory.push({
            'mask': mask_object.toDataURL(),
            'result': in_object.toDataURL()
        });

        api.sendImage(in_object, function (data) {
            drawHistory.image_id = data['image_id'];
            if (!drawEngine.is_allowed) {
                drawEngine.allow();
            }
        });
    }

    function fillCanvas(canvas_object, img) {
        var canvas_context = canvas_object.getContext("2d");
        canvas_context.clearRect(0, 0, canvas_object.width, canvas_object.height);
        if (img != null) {
            canvas_object.width = img.width;
            canvas_object.height = img.height;
            canvas_context.drawImage(img, 0, 0);
        }
    }
</script>
</html>