<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Inpaint</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
          integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/10.0.2/css/bootstrap-slider.min.css"
          integrity="sha256-GwA8DO9HkVp1kdrzQyoT/zi9qZDV/902GSxlrGOfjo8=" crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/croppie/2.6.2/croppie.min.css"
          integrity="sha256-/n6IXDwJAYIh7aLVfRBdduQfdrab96XZR+YjG42V398=" crossorigin="anonymous"/>
    <style>
        canvas {
            max-width: 100%;
            max-height: 500px;
        }

        #selWidthSlider .slider-selection {
            background: #BABABA;
        }

        .slider {
            margin: 8px 10px;
        }

        .croppie-container .cr-boundary {
            height: calc(100% - 33px);
        }

        .modal-content {
            background-color: #343a40 !important;
        }

        canvas {
            border: 1px solid black;
        }

        label.btn {
            margin-bottom: 0;
        }

        #header-buttons > * {
            margin-bottom: 4px;
        }

        #header-buttons {
            display: none;
        }

        .nav-link {
            padding-right: .5rem !important;
            padding-left: .5rem !important;
        }

        @media (min-width: 576px) {
            .navbar .container {
                display: inline-block;
            }

            #header-buttons {
                display: inline-block;
            }

            #header-buttons-touch {
                display: none;
            }

            #canvas-container-left {
                float: right;
            }

            #canvas-container-right {
                float: left;
            }

            #history-buttons-container {
                float: right;
            }
        }
    </style>
</head>
<body class="bg-dark text-light">
<nav class="navbar navbar-dark bg-dark">
    <div class="container" style="justify-content: normal">
        <a id='logo' class="navbar-brand" href="#">Inpainting</a>

        <div id="header-buttons">
            <button class="btn btn-secondary btn-load">Load image</button>
            <button class="btn btn-secondary btn-pick-random">Pick random</button>
            <button class="btn btn-secondary btn-save">Save result</button>
        </div>

        <ul id="header-buttons-touch" class="navbar-nav" style="flex-direction: row;">
            <li class="nav-item nav-link btn-load touch">Load</li>
            <li class="nav-item nav-link btn-pick-random touch">Pick</li>
            <li class="nav-item nav-link btn-save touch">Save</li>
        </ul>
        <a id="save-link" style="display: none;"></a>
    </div>
</nav>
<div class="container">
    <div class="row" style="margin: 10px 0">
        <div class="col-sm-6">
            <center>
                <div id="canvas-container-left" style="position:relative; display: inline-block;">
                    <canvas id="canvas-in" height="256" width="500" style="z-index: 1;"></canvas>
                    <canvas id="canvas-mask" height="256" width="256"
                            style="z-index: 2; position: absolute; left: 0; top: 0; width: 100%; height: calc(100% - 6px);
                         cursor: crosshair; touch-action: none;"></canvas>
                </div>
            </center>
        </div>
        <div class="col-sm-6">
            <center>
                <div id="canvas-container-right">
                    <canvas id="canvas-out" height="256" width="500"></canvas>
                </div>
            </center>
        </div>
    </div>
    <div>
        <div style="display: inline-block; margin-top: 2px">
            Brush width
            <input id="width-input" data-slider-id='selWidthSlider' type="text" data-slider-min="2" data-slider-max="50"
                   data-slider-step="1" data-slider-value="10" value="10"/>
        </div>
        <div id="history-buttons-container">
            <button id="btn-undo" class="btn btn-secondary">Undo</button>
            <button id="btn-redo" class="btn btn-secondary">Redo</button>
            <button id="btn-clear" class="btn btn-secondary">Clear</button>
        </div>
    </div>
</div>

<input type="file" id="file-upload" name="file-upload" style="display: none;"/>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
        integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/10.0.2/bootstrap-slider.min.js"
        integrity="sha256-VYMMGFCEeBYop7KDzrlj8Bf6R4rhv0XxdH/ctYViebc=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/exif-js/2.3.0/exif.min.js"
        integrity="sha256-dhm9R4pgGAdElt/Z8BnKk9fsaEtqSz11u0+FwCIXHy4=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/croppie/2.6.2/croppie.min.js"
        integrity="sha256-eW5JfqpvF1f4ajHCuk+lcXWNBTHDp6JmBQGOqEDXC28=" crossorigin="anonymous"></script>
<script src="/static/bootbox-custom.js"></script>
<script src="/static/main.js?version=36"></script>

<script>
    $(document).ready(function () {
        var widthSelector = $('#width-input');
        widthSelector.slider();
        widthSelector.change(function () {
            drawEngine.width = this.value;
        });

        var in_object = $('#canvas-in')[0];
        var mask_object = $('#canvas-mask')[0];
        var out_object = $('#canvas-out')[0];

        drawHistory = new History();
        api = new Api();
        drawEngine = new DrawEngine(mask_object, out_object, widthSelector[0]);

        // top buttons
        $('.btn-load').click(function () {
            dialog = bootbox.dialog({
                title: 'Load image',
                message: 'Loading...',
                buttons: {
                    cancel: {
                        label: 'Cancel',
                        className: 'btn-secondary'
                    },
                    reload: {
                        label: 'Load another',
                        className: 'btn-secondary',
                        callback: function (e) {
                            $('#file-upload').trigger('click');
                            e.preventDefault();
                            return false;
                        }
                    },
                    confirm: {
                        label: 'Use',
                        className: 'btn-primary',
                        callback: function (e) {
                            croppie_image.croppie('result', {
                                type: 'base64',
                                size: {width: 256, height: 256}
                            }).then(function (dataURI) {
                                dataURIToImage(dataURI, function (img) {
                                    applyInitialState(in_object, mask_object, out_object, img);
                                });
                            });
                        }
                    }
                }
            });

            dialog.init(function () {
                $('#file-upload').trigger('click');
            });
        });
        $('#file-upload').change(function (e) {
            console.log('file changed!');
            dialog.find('.bootbox-body').html('' +
                '<div style="height: 300px">' +
                '<img id="croppie-image" src="" alt="Loading..."/>' +
                '</div>');
            blobToDataURI(e.target.files[0], function (dataURI) {
                croppie_image = $('#croppie-image');
                croppie_image.attr('src', dataURI);
                croppie_image.croppie({
                    'viewport': {
                        'width': 200,
                        'height': 200,
                        'type': 'square'
                    },
                    'enableExif': true
                });
            });
        });
        $('.btn-pick-random').click(function () {
            dataURIToImage('/pick_random?dummy=' + Date.now().toString(), function (img) {
                applyInitialState(in_object, mask_object, out_object, img)
            });
        });
        $('.btn-save').click(function () {
            var save_link = $('#save-link')[0];
            save_link.href = out_object.toDataURL('image/png');
            save_link.download = 'output.png';
            save_link.click();
        });

        // bottom buttons
        $('#btn-undo').click(function () {
            var data = drawHistory.undo();
            dataURIToImage(data['mask'], function (img) {
                fillCanvas(mask_object, img);
            });
            dataURIToImage(data['result'], function (img) {
                fillCanvas(out_object, img);
            });
        });
        $('#btn-redo').click(function () {
            var data = drawHistory.redo();
            dataURIToImage(data['mask'], function (img) {
                fillCanvas(mask_object, img);
            });
            dataURIToImage(data['result'], function (img) {
                fillCanvas(out_object, img);
            });
        });
        $('#btn-clear').click(function () {
            fillCanvas(mask_object);
            dataURIToImage(in_object.toDataURL(), function (img) {
                fillCanvas(out_object, img);
            });
            drawHistory.clear();
            drawHistory.push({
                'mask': mask_object.toDataURL(),
                'result': in_object.toDataURL()
            });
        });
    });

    function applyInitialState(in_object, mask_object, out_object, img) {
        fillCanvas(in_object, img);
        fillCanvas(mask_object);
        fillCanvas(out_object, img);

        drawHistory.clear();
        drawHistory.push({
            'mask': mask_object.toDataURL(),
            'result': in_object.toDataURL()
        });

        api.sendImage(in_object, function (data) {
            drawHistory.image_id = data['image_id'];
            if (!drawEngine.is_allowed) {
                drawEngine.allow();
            }
        });
    }

    function fillCanvas(canvas_object, img) {
        var canvas_context = canvas_object.getContext("2d");
        canvas_context.clearRect(0, 0, canvas_object.width, canvas_object.height);
        if (img != null) {
            canvas_object.width = img.width;
            canvas_object.height = img.height;
            canvas_context.drawImage(img, 0, 0);
        }
    }
</script>

</body>
</html>